<%= turbo_stream_from "posts" %>

<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= turbo_frame_tag "new_post", src: new_post_path, target: "_top"%>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
